.main_div{
    padding: 10px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap: 20px;
}

.main_cantant{
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 20px;
}

.btn{
    display: flex;
    justify-content: space-evenly;
    box-shadow: none;
}

.main_div div img{
    width: 70%;
    height: 300px;
    border-radius: 10px;
}